<head>
    <meta charset="UTF-8" />
    <title>{% block title %}EasyHosp{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet" type="text/css" />
    {#<link href="{{ asset('css/ace.min.css') }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ asset('css/ace-skins.min.css') }}" rel="stylesheet" type="text/css" />#}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
</head>