<div class="hidden" id="hospIndexPath" data-path="{{ path('hospPaginated', { 'page': 'x'}) }}"></div>
<div class="hidden" id="hospDetalleIndexPath" data-path="{{ path('detalleHosp', { 'id': 'x'}) }}"></div>
<table class="table table-hover table-bordered">
    <thead>
    <tr class="beGrey">
        <th></th>
        <th>Título</th>
        <th>Tipo</th>
        <th>Localidad</th>
        <th>Dirección</th>
        <th>Precio (por día)</th>
        <th>Capacidad</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for hospedaje in hospedajes %}
        {% if hospedaje.borrado == 0 %}
        <tr>

            <td></td>
            <td>{{ hospedaje.titulo }}</td>
            <td>{{ hospedaje.tipoHosp }}</td>
            <td>{{ hospedaje.localidad }}</td>
            <td>{{ hospedaje.direccion }}</td>
            <td>${{ hospedaje.precio }}</td>
            <td>{{ hospedaje.capacidad }} personas.</td>
            <td><a class="btn btn-primary" href="{{ path('detalleHosp', {'id':hospedaje.id}) }}" >Ver</a>
                {% if app.session.get('id') != "" %}
                    {% set count = 0 %}
                    {% for favorito in favoritos %}
                        {% if favorito.hospedaje.id == hospedaje.id %}
                            <i class="fa fa-star fa-lg unmarkFav" data-ref="{{ hospedaje.id }}" title="Favorito" aria-hidden="true"></i>
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if count == 0 %}
                        <i class="fa fa-star-o fa-lg markFav" data-ref="{{ hospedaje.id }}" title="Favorito" aria-hidden="true"></i>
                    {% endif %}

                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<div class="row">
    {% include 'MainBundle:Default:paginadoHospedajes.html.twig' %}
</div>