<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="blue bigger">{{ hospedaje.titulo }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <dl class="col-lg-6">
            <h4>Datos</h4>
            <hr>
            <dt>Descripción</dt>
            <dd>{{ hospedaje.descripcion}}</dd>
            <dt>Tipo</dt>
            <dd>{{ hospedaje.tipoHosp}}</dd>
            <dt>Localidad</dt>
            <dd>{{ hospedaje.localidad}}</dd>
            <dt>Dirección</dt>
            <dd>{{ hospedaje.direccion}}</dd>
            <dt>Capacidad</dt>
            <dd>{{ hospedaje.capacidad}} personas.</dd>
        </dl>
        <dl class="col-lg-6">
            <h4>Reserva</h4>
            <hr>
            <dt>Fechas buscadas</dt>
            <dd>{{ desde|date("d/m/Y") }} hasta {{ hasta|date("d/m/Y") }}</dd>
            {% if app.session.get('id') != "" %}
                <form action="{{ path('reservarHosp') }}" method="POST" name="formReservar">
                    <input type="hidden" name="fechaDesde" value="{{ desde }}">
                    <input type="hidden" name="fechaHasta" value="{{ hasta }}">
                    <input type="hidden" name="hospID" value="{{ hospedaje.id }}">
                    <input type="hidden" name="user" value="{{ app.session.get('id') }}">
                    {% if app.session.get('id') == hospedaje.userId %}
                        <span class="oblique">No puede reservar un hospedaje que le pertenece a uno mismo.</span>
                    {% else %}
                        <span class="oblique">Al aceptar deberá esperar la confirmación del dueño. Una vez confirmada la reserva,
                        obtendrá los datos para ponerse en contacto.</span>
                        <br>
                        <button type="submit" class="btn btn-success small">Reservar</button>
                    {% endif %}
                </form>
            {% endif %}
        </dl>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h3>Galería</h3>
            </div>

            <div id="previa">
                <div>
                    <img src="" width="400"	height="700" id="imgFull">
                </div>
            </div>

            <div id="container">
                {% if hospedaje.imagen1 %}
                    <img id="img" class="img-rounded" src="{{asset(hospedaje.imagen1)}}">
                {% endif %}
                <img id="img" class="img-rounded" src="{{ asset('images/japon.jpg') }}" alt="japon" />
                <img class="img-rounded" src="{{ asset('images/nuevayork.jpg') }}" alt="nuevayork" />
                <img class="img-rounded" src="{{ asset('images/patagonia.jpg') }}" alt="patagonia" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <h3>Preguntas</h3>
            </div>
            {% for consulta in consultas %}
                <dd><b>Pregunta:</b> {{ consulta.pregunta }} </dd>
                {% if consulta.respuesta != "" %}
                    <dd><b>Respuesta:</b> {{ consulta.respuesta }} </dd> </br>
                {% elseif app.session.get('nombre') == hospedaje.userNom %}
                    <form id="form-signin" action="{{ path('responderConsulta') }}" method="POST" class="form-signin">
                        <textarea style="" name="respuesta" id="respuesta" class="form-control" rows="1" placeholder="Escribe tu respuesta" required autofocus></textarea>
                        <input type="hidden" name="id" value="{{ hospedaje.id }}">
                        <input type="hidden" name="idConsulta" value="{{ consulta.id }}">
                        <button style="" class="btn btn-small btn-primary" id="responderConsulta" type="submit"> Enviar</button>
                    </form>
                {% endif %}
            {% endfor %}
            {% if app.session.get('id') != "" %}
                <form id="form-signin" action="{{ path('checkConsult') }}" method="POST" class="form-signin">
                    <textarea style="" name="consulta" id="consulta" class="form-control" rows="2" placeholder="Escribe tu pregunta" required autofocus></textarea></br>
                    <input type="hidden" name="id" value="{{ hospedaje.id }}">
                    <button style="" id="aceptarConsulta" class="btn btn-lg btn-primary btn-block" type="submit">
                        Enviar</button>
                </form>
            {% endif %}
        </div>

    </div>
</div>
<div class="modal-footer">
    <button id="aceptarNewHosp" class="btn btn-small btn-primary">
        <i class="icon-ok"></i>
        Aceptar
    </button>
    <button class="btn btn-small" data-dismiss="modal">
        <i class="icon-remove"></i>
        Cancelar
    </button>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#container img").on("click", abrirFull);
        $("#previa").on("click", cerrarFull);

        function abrirFull() {
            var direccion = $(this).attr('src');
            $("#imgFull").attr('src', direccion);
            $("#previa").fadeIn();
            $("#consulta").attr('style', 'display:none;');
            $("#respuesta").attr('style', 'display:none;');
            $("#responderConsulta").attr('style', 'display:none;');
            $("#aceptarConsulta").attr('style', 'display:none;');

        }
        function cerrarFull(){
            $("#previa").on('click',function(){
                $(this).fadeOut();
                $("#consulta").attr('style', '');
                $("#respuesta").attr('style', '');
                $("#responderConsulta").attr('style', '');
                $("#aceptarConsulta").attr('style', '');
            });﻿
        }

    });
</script>