<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="blue bigger">Editar Hospedaje</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" enctype="multipart/form-data" id="formEditHosp" action="{{ path('hospEditSave') }}" method="POST">
        <input type="hidden" name="idHospedaje" value="{{ hospedaje.id }}">

        <div class="form-group row">
            <label for="inputTitulo" class="col-sm-3 form-control-label">Título*</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="titulo" id="titulo" value="{{ hospedaje.titulo }}" />
            </div>
        </div>

        <div class="form-group row">
            <label for="inputDescripcion" class="col-sm-3 form-control-label">Descripción*</label>
            <div class="col-sm-7">
                <textarea name="descripcion" class="form-control" id="descripcion" rows="3">{{ hospedaje.descripcion }}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputTipohospedaje" class="col-sm-3 form-control-label">Tipo hospedaje*</label>
            <div class="col-sm-7">
                <select class="form-control" name="tipoHospedaje" id="tipoHospedaje">
                    {% for tipo in tipos %}
                        {% if hospedaje.tipoHosp == tipo.nombre %}
                            <option selected="selected" value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                        {% else %}
                            <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputLocalidad" class="col-sm-3 form-control-label">Localidad*</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="localidad" id="localidad"  value="{{ hospedaje.localidad }}"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputDireccion" class="col-sm-3 form-control-label">Dirección*</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="direccion" id="direccion"  value="{{ hospedaje.direccion }}" />
            </div>
        </div>


        <div class="form-group row">
            <label for="inputCapacidad" class="col-sm-3 form-control-label">Capacidad*</label>
            <div class="col-sm-7">
                <input type="number" class="form-control" name="capacidad" id="capacidad"  value="{{ hospedaje.capacidad }}" />
            </div>
        </div>
        <div class="row">
            <label for="inputImagenes" class="col-sm-3 form-control-label">Imágenes actuales</label>
            <div class="col-lg-7">
                <div id="container">
                    {% if hospedaje.imagen1 %}
                        <img id="img" class="img-rounded" src="{{asset(hospedaje.imagen1)}}">
                    {% endif %}

                    {% if hospedaje.imagen2 %}
                        <img id="img" class="img-rounded" src="{{asset(hospedaje.imagen2)}}">
                    {% endif %}

                    {% if hospedaje.imagen3 %}
                        <img id="img" class="img-rounded" src="{{asset(hospedaje.imagen3)}}">
                    {% endif %}

                    {% if hospedaje.imagen4 %}
                        <img id="img" class="img-rounded" src="{{asset(hospedaje.imagen4)}}">
                    {% endif %}

                    {% if hospedaje.imagen5 %}
                        <img id="img" class="img-rounded" src="{{asset(hospedaje.imagen5)}}">
                    {% endif %}

                </div>
            </div>
        </div>
        </br>
        <div class="form-group row">
            <label for="inputImagenes" class="col-sm-3 form-control-label">Imágenes*</label>
            <div class="col-sm-7">
                <input type="file" id="file1" class="form-control" name="img1" />
                <input type="file" id="file1" class="form-control" name="img2" />
                <input type="file" id="file1" class="form-control" name="img3" />
                <input type="file" id="file1" class="form-control" name="img4" />
                <input type="file" id="file1" class="form-control" name="img5" />
            </div>
        </div>

        <div class="modal-footer">
            <button id="aceptarEditHosp" class="btn btn-small btn-primary">
                <i class="icon-ok"></i>
                Aceptar
            </button>
            <button class="btn btn-small" data-dismiss="modal">
                <i class="icon-remove"></i>
                Cancelar
            </button>
        </div>

    </form>
</div>
