<div class="hidden" id="hospIndexPath" data-path="{{ path('hospPaginated', { 'page': 'x'}) }}"></div>
<div class="hidden" id="hospDetalleIndexPath" data-path="{{ path('detalleHosp', { 'id': 'x'}) }}"></div>
<table class="table table-hover table-bordered">
    <thead>
    <tr class="beGrey">
            <th></th>
            <th>Título</th>
            <th>Dirección</th>
            <th>Capacidad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for hospedaje in hospedajes%}
            {% if hospedaje.borrado != 1 %}
            <tr>
                <td></td>
                <td>{{ hospedaje.titulo }}</td>
                <td>{{ hospedaje.direccion }}</td>
                <td>{{ hospedaje.capacidad }}</td>

                <td>
                    <a href="#" data-path="{{ path('miDetalle', { 'id': 'x'}) }}" class="btnDeleteHosp btn btn-sm btn-primary">
                        Ver
                        <input type="hidden" class="idHosp" value="{{ hospedaje.id }}">
                    </a>

                    <a href="#" data-path="{{ path('hospedajeEdit', { 'id': 'x'}) }}" class="btnDeleteHosp btn btn-sm btn-warning">
                        Editar
                        <input type="hidden" class="idHosp" value="{{ hospedaje.id }}">
                    </a>

                    {% if hospedaje.borrado ==  1  %}
                        <a href="#" data-path="{{ path('hospedajeMsjHabilitar', { 'id': 'x'}) }}" class="btnDeleteHosp btn btn-sm btn-success">
                            Habilitar
                            <input type="hidden" class="idHosp" value="{{ hospedaje.id }}">
                        </a>
                    {% else %}
                        <a href="#" data-path="{{ path('hospedajeMsjDelete', { 'id': 'x'}) }}" class="btnDeleteHosp btn btn-sm btn-danger btn-delete">
                            Eliminar
                            <input type="hidden" class="idHosp" value="{{ hospedaje.id }}">
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>