<table class="table table-hover table-bordered">
    <thead>
    <tr class="beGrey">
        <th></th>
        <th>Título</th>
        <th>Fecha publicación</th>
        <th>Dirección</th>
        <th>Precio</th>
        <th>Capacidad</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for hospedaje in hospedajes%}
        <tr>
            <td></td>
            <td>{{ hospedaje.titulo }}</td>
            <td>{{ hospedaje.fechaPublicacion|date('d-m-Y') }}</td>
            <td>{{ hospedaje.direccion }}</td>
            <td>${{ hospedaje.precio }}</td>
            <td>{{ hospedaje.capacidad }}</td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>